body, main {
    display: flex;
}

body {
    flex-direction: column;
    background-color:linen;
}

main {
    flex-direction: row;
    flex:auto;
}

article {
    flex: 2;
    overflow-y: auto;
    border-bottom-style: dashed;
}

aside {
    flex: 1;
    overflow-y: auto;
}